body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  fill: #000;

}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  color:steelblue;
}